@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math:ital,wght@0,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:ital,wght@0,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
}